.Container {
  display: flex;
  flex-direction: column;
  gap: 25px;
}

/* HEADER */
.Header { margin-bottom: 10px; }

.Title {
  font-size: 26px;
  background: linear-gradient(to right, #4f46e5, #9333ea);
  -webkit-background-clip: text;
  color: transparent;
  font-weight: bold;
}

.Subtitle {
  color: #6b7280;
  font-size: 14px;
}

/* CARD */
.Card {
  padding: 28px 10px;
  border: 2px solid #e2e8f0;
  background: #fff;
  /* border-radius: 16px; */
  box-shadow: 0 5px 15px rgba(0,0,0,0.06);
}

/* CARD HEADER */
.CardHeader {
  display: flex;
  align-items: center;
  gap: 14px;
  margin-bottom: 20px;
}

.IconBox {
  padding: 12px;
  background: linear-gradient(to right, #4f46e5, #9333ea);
  border-radius: 12px;
}

.Icon {
  color: white;
}

.BlockIconBox {
  padding: 12px;
  background: linear-gradient(to right, #dc2626, #f97316);
  border-radius: 12px;
}

.BlockIcon {
  color: white;
}

.CardTitle {
  font-size: 20px;
  font-weight: bold;
}

.CardDesc {
  font-size: 14px;
  color: #6b7280;
}

/* OPTIONS */
.OptionList { margin-top: 10px; }

.OptionItem {
  display: flex;
  gap: 14px;
  padding: 14px;
  border: 2px solid transparent;
  border-radius: 12px;
  cursor: pointer;
  align-items: center;
  margin-bottom: 10px;
  background: #f9fafb;
}

.OptionItem:hover {
  border-color: #c4b5fd;
}

.OptionText { flex: 1; }

.OptionLabel {
  font-weight: 600;
  color: #374151;
}

.OptionDesc {
  font-size: 13px;
  color: #6b7280;
}

/* BUTTON */
.SaveBtn {
  margin-top: 16px;
  padding: 14px;
  width: 100%;
  background: linear-gradient(to right, #4f46e5, #9333ea);
  color: white;
  font-weight: bold;
  border-radius: 12px;
  cursor: pointer;
}

.SaveBtn:hover {
  transform: scale(1.02);
}

/* BLOCKED USERS */
.BlockItem {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 14px;
  border-radius: 12px;
  background: #f3f4f6;
  margin-bottom: 10px;
}

.BlockUser {
  display: flex;
  align-items: center;
  gap: 10px;
}

.BlockAvatar {
  width: 36px;
  height: 36px;
  border-radius: 50%;
  background: linear-gradient(to right, #dc2626, #f97316);
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  font-weight: bold;
}

.UnblockBtn {
  padding: 8px 12px;
  background: linear-gradient(to right, #dc2626, #f97316);
  color: white;
  border-radius: 8px;
  font-weight: bold;
  border: none;
  cursor: pointer;
}
