.page {
  min-height: 100vh;
  padding: 20px;
  background: #f1f5f9;
  display: flex;
  justify-content: center;
  align-items: center;
}

.grid {
  display: grid;
  grid-template-columns: 1fr;
  gap: 20px;
  max-width: 1100px;
  width: 100%;
}

@media (min-width: 768px) {
  .grid {
    grid-template-columns: 1fr 1fr;
  }
}
.imageWrapper {
  width: 100%;
  display: flex;
  justify-content: center;
}

.image {
  width: 100%;
  aspect-ratio: 1 / 1;      /* keeps square */
  object-fit: contain;        /* nicely fills the square */
  border-radius: 12px;      /* fix: remove comma */
}

.card {
  background: white;
  padding: 30px;
  border-radius: 16px;
  box-shadow: 0 5px 18px rgba(0, 0, 0, 0.15);
}

.title {
  font-size: 28px;
  font-weight: bold;
}

.subtitle {
  font-size: 14px;
  color: #555;
  margin-bottom: 20px;
}

.form {
  display: flex;
  flex-direction: column;
  gap: 12px;
}

.input {
  padding: 12px 15px;
  font-size: 15px;
  background: #f3f4f6;
  border: 1px solid #d1d5db;
  border-radius: 10px;
  color:black;
}

.checkboxRow {
  display: flex;
  gap: 10px;
  align-items: center;
}

.button {
  background: #2563eb;
  color: white;
  padding: 12px;
  border: none;
  border-radius: 10px;
  margin-top: 10px;
  cursor: pointer;
  font-size: 16px;
}

.button:disabled {
  background: #9bb9ff;
  cursor: not-allowed;
}

.error {
  color: red;
  font-size: 12px;
}

.errorGeneral {
  background: #ffe5e5;
  padding: 10px;
  border-radius: 8px;
  color: #b91c1c;
  margin-bottom: 10px;
  font-size: 14px;
}

.bottomText {
  margin-top: 10px;
  font-size: 14px;
}

.bottomText a {
  color: #1e40af;
  font-weight: bold;
}

.forgot{
    cursor: pointer;
    color:blue
}
.successMsg {
  background: #dcfce7;
  color: #166534;
  padding: 10px;
  font-size: 14px;
  border-radius: 8px;
  margin-bottom: 10px;
}
