/* MessageActionsPopup.module.css */

.Popup {
  position: absolute;
  background: white;
  min-width: 160px;
  border-radius: 8px;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.15);
  z-index: 200;
  padding: 8px 0;
  top: 20px; /* Position BELOW the message */
  margin-top: 4px;
  left: 0px;
  right: 0px;
}


.Item {
  padding: 12px 16px;
  font-size: 14px;
  cursor: pointer;
  color: #111;
  transition: background 0.1s;
}

.Item:hover {
  background: #f5f5f5;
}

.Cancel {
  padding: 12px 16px;
  font-size: 14px;
  text-align: left;
  border-top: 1px solid #e5e5e5;
  cursor: pointer;
  color: #666;
  margin-top: 4px;
}

.Cancel:hover {
  background: #f5f5f5;
}
