.BlockedPopupamaindiv {
  position: absolute;
  bottom: 0;
  width: 50%;
  padding: 10px;
  background-color: rgba(255, 0, 0, 0.1); /* Light red background to indicate blocking */
  color: #fff;
  text-align: center;
  border-top: 1px solid rgba(255, 255, 255, 0.2);
}

.BlockedPopupamaindiv p {
  margin: 0;
  font-size: 1rem;
}

.BlockedPopupamaindiv span {
  color: #00f; /* Blue color for the clickable text */
  text-decoration: underline;
  cursor: pointer;
}