.Chatappmaindiv {
  border: 2px solid blue;
  position: relative;
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: space-between;
  background-color: rgb(45, 44, 44);
  color: white;
}
