:root {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: black;
  background-color: white;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

*{
  box-sizing: border-box;
  margin: 0px;
  padding:0px;
}

/* -----------------------------
   DESKTOP SCROLLBAR (DEFAULT)
------------------------------ */

/* Chrome, Edge, Safari */
::-webkit-scrollbar {
  width: 8px;
  height: 4px;
}

::-webkit-scrollbar-thumb {
  background: #c5c5c5;
  border-radius: 10px;
}

::-webkit-scrollbar-track {
  background: transparent;
}

/* Firefox */
* {
  scrollbar-width: thin;
  scrollbar-color: #c5c5c5 transparent;
}


/* -----------------------------
   MOBILE: HIDE SCROLLBAR COMPLETELY
------------------------------ */
@media (max-width: 768px) {
  
  /* Chrome, Safari, Edge */
  ::-webkit-scrollbar {
    width: 0 !important;
    height: 0 !important;
    display: none !important;
  }

  ::-webkit-scrollbar-thumb {
    background: transparent !important;
  }

  /* Firefox */
  * {
    scrollbar-width: none !important; /* removes scrollbar */
    scrollbar-color: transparent transparent !important;
  }

  /* Hides scrollbar area completely */
  body, div {
    -ms-overflow-style: none !important; /* old IE/Edge */
    scrollbar-width: none !important;    /* Firefox */
  }
}
